@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.438);
}


.half-image {
    width: 100%;
    height: 100%;
    position: relative;

}

img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image2 {
    position: absolute;
    height: auto;
    max-width: 100%;
}

.scroll-container {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.scroll-container::-webkit-scrollbar {
    display: none;
    /* Oculta la barra de desplazamiento en navegadores webkit (Chrome, Safari, etc.) */
}